@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Otros estilos globales */

:root {
  --font-roboto: 'Roboto', sans-serif;
  --radius: 0.875rem;
}


body {
  font-family: var(--font-roboto), sans-serif;
  background-color: #27272a;
}

* {
  font-family: var(--font-roboto), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añadir la animación bounce */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  display: inline-block;
}

/* Estilo para aplicar el delay a cada letra */
.bounce-1 {
  animation-delay: 0s;
}
.bounce-2 {
  animation-delay: 0.1s;
}
.bounce-3 {
  animation-delay: 0.2s;
}
.bounce-4 {
  animation-delay: 0.3s;
}
.bounce-5 {
  animation-delay: 0.4s;
}
.bounce-6 {
  animation-delay: 0.5s;
}
.bounce-7 {
  animation-delay: 0.6s;
}

/* Estilo para la animación en hover */
.animate:hover .bounce {
  animation: bounce 0.5s linear 2;
}
