@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Otros estilos globales */

:root {
  --font-roboto: 'Roboto', sans-serif;
  --radius: 0.875rem;
}


body {
  font-family: var(--font-roboto), sans-serif;
  background-color: #27272a;
}

* {
  font-family: var(--font-roboto), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
